name: Elixir CI

on: [workflow_call]

jobs:
  test:
    runs-on: ubuntu-22.04

    env:
      MIX_ENV: test

    strategy:
      matrix:
        elixir: ['1.18', '1.17', '1.16']
        otp: ['27.x', '26.x']
        include:
          - elixir: '1.19'
            otp: '28.x'
            lint: lint

    steps:
      - uses: actions/checkout@v4

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v5
        id: cache-elixir-deps
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Install Dependencies
        if: steps.cache-elixir-deps.outputs.cache-hit != 'true'
        run: mix deps.get

      - run: mix format --check-formatted
        if: matrix.lint

      - run: mix deps.unlock --check-unused
        if: matrix.lint

      - name: Run Tests
        run: mix test
