name: Elixir CI

on: [workflow_call]

jobs:
  test:
    runs-on: ubuntu-20.04

    env:
      MIX_ENV: test

    strategy:
      matrix:
        elixir: ['1.15', '1.14', '1.13', '1.12']
        otp: ['25.x', '24.x', '23.x']
        exclude:
          - elixir: '1.12'
            otp: '25.x'
          - elixir: '1.15'
            otp: '23.x'
        include:
          - elixir: '1.14'
            otp: '26.x'
          - elixir: '1.15'
            otp: '26.x'
            lint: lint

    steps:
      - uses: actions/checkout@v3

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v3
        id: cache-elixir-deps
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Install Dependencies
        if: steps.cache-elixir-deps.outputs.cache-hit != 'true'
        run: mix deps.get

      - run: mix format --check-formatted
        if: matrix.lint

      - run: mix deps.unlock --check-unused
        if: matrix.lint

      - name: Run Tests
        run: mix test
